<div class="relative w-full h-[17rem] overflow-hidden">
  <shared-main-header></shared-main-header>
</div>

<form [formGroup]="actorForm">
  <div class="relative z-10 -mt-28 mx-20 flex flex-row gap-10 mb-10">
    <div class="flex flex-col gap-6 items-center flex-none basis-3/12">

      <div class="flex flex-col gap-2 text-center">
        <div class="w-56 h-56 border-2 border-dashed border-surface-200 dark:border-surface-700 rounded-full bg-surface-50 dark:bg-surface-950 font-medium flex relative overflow-hidden">
          <p-toast></p-toast>
          <img *ngIf="actorForm.get('mainImageUrl')?.value" [src]="actorForm.get('mainImageUrl')?.value" alt="Actor Image"
            class="absolute inset-0 w-full h-full object-cover rounded-full">
          <p *ngIf="!actorForm.get('mainImageUrl')?.value"
            class="absolute inset-0 flex items-center justify-center text-[#696969] text-center m-2">
            Enter a URL in the input below to upload the actor's main image.
          </p>
        </div>
  
        <p-inplace class="text-xs w-full">
          <ng-template #display>
            <span class="inline-flex items-center gap-2 w-full max-w-[200px] truncate" [ngClass]="{
                  'text-[#dd1234]': actorForm.get('mainImageUrl')?.touched && actorForm.get('mainImageUrl')?.invalid,
                  'text-[#cfcfcf]': !(actorForm.get('mainImageUrl')?.touched && actorForm.get('mainImageUrl')?.invalid)
                }">
              {{ actorForm.get('mainImageUrl')?.value || 'Add actor image by URL' }}
            </span>
          </ng-template>
          <ng-template #content let-closeCallback="closeCallback">
            <span class="inline-flex items-center gap-2 w-full">
              <input type="text" pInputText autofocus formControlName="mainImageUrl" required="true" class="w-full"
                variant="filled" />
              <button (click)="closeCallback($event)" pButton icon="pi pi-times" text severity="danger"></button>
            </span>
          </ng-template>
        </p-inplace>
      </div>
      <!-- (input)="updateMainImageUrl()" -->

      <div class="flex flex-col gap-1 text-center">

        <p-inplace class="text-3xl font-bold w-full">
          <ng-template #display>
            <span class="block break-words w-full max-w-[250px] text-center" [ngClass]="{
                'text-[#dd1234]': actorForm.get('name')?.touched && actorForm.get('name')?.invalid,
                'text-[#cfcfcf]': !(actorForm.get('name')?.touched && actorForm.get('name')?.invalid)
              }">
              {{ actorForm.get('name')?.value || 'Add actor name' }}
            </span>
          </ng-template>
          <ng-template #content let-closeCallback="closeCallback">
            <div class="flex flex-row gap-2 w-full max-w-[250px]">
              <input type="text" pInputText autofocus formControlName="name" required="true"
                class="w-full text-center break-words" variant="filled"
                style="word-wrap: break-word; white-space: normal;" />
              <button (click)="closeCallback($event)" pButton icon="pi pi-times" text severity="danger"></button>
            </div>
          </ng-template>
        </p-inplace>

        <p-inplace class="text-xs uppercase">
          <ng-template #display>
            <span class="truncate" [ngClass]="{
                'text-[#dd1234]': actorForm.get('birthDate')?.touched && actorForm.get('birthDate')?.invalid,
                'text-[#cfcfcf]': !(actorForm.get('birthDate')?.touched && actorForm.get('birthDate')?.invalid)
              }">
              {{ actorForm.get('birthDate')?.value ? (actorForm.get('birthDate')?.value | date: 'MMMM dd, yyyy') :
              'Add birth date' }}
            </span>
          </ng-template>
          <ng-template #content let-closeCallback="closeCallback">
            <span class="inline-flex items-center gap-2 w-full">
              <p-datepicker formControlName="birthDate" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                required="true"/>
              <button (click)="closeCallback($event)" pButton icon="pi pi-times" text severity="danger"></button>
            </span>
          </ng-template>
        </p-inplace>
      </div>
    </div>

    <div class="mt-36 w-full">
      <div class="card flex justify-center">
        <p-stepper [value]="1" class="basis-[50rem]">
          <p-step-list>
            <p-step [value]="1">About</p-step>
            <p-step [value]="2">Movies</p-step>
            <p-step [value]="3">Gallery</p-step>
          </p-step-list>
          <p-step-panels>
            <p-step-panel [value]="1">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <div
                    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded-md bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                    <textarea rows="8" cols="84" pTextarea formControlName="biography"
                      placeholder="Type here to add the actor's biography." required="true"></textarea>
                  </div>
                  <div class="flex pt-6 justify-end">
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)"
                      class="mb-10" />
                  </div>
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                  <div
                    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded-md bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium p-5">
                    <div class="card flex justify-center w-full">
                      <p-autocomplete [(ngModel)]="value" [dropdown]="true" [suggestions]="items"
                        (completeMethod)="search($event)" class="w-full" formControlName="movies" multiple fluid
                        placeholder="Search for movies." required="true" field="title" />
                    </div>
                  </div>
                </div>
                <div class="flex pt-6 justify-between">
                  <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)"
                    class="mb-10" />
                  <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)"
                    class="mb-10" />
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                  <div
                    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex flex-col gap-5 justify-center items-center font-medium p-5">
                    <p-inputgroup>
                      <input pInputText placeholder="Type image URL to include." formControlName="newUrl"/>
                      <p-button label="Add" (click)="addUrl()" severity="contrast" />
                    </p-inputgroup>

                    <ul class="flex flex-col gap-3">
                      <li *ngFor="let url of urls; let i = index">
                        <div class="flex flex-row gap-3">
                          <p-chip [label]="url" class="p-chip-gallery"></p-chip>
                          <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" (click)="removeUrl(i)" />
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="flex pt-6 justify-between">
                  <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)"
                    class="mb-10" />
                  <p-button label="Submit" icon="pi pi-check" iconPos="left" type="submit" (onClick)="onSubmit()"
                    class="mb-10" severity="contrast" [disabled]="validations()" />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-panels>
        </p-stepper>
      </div>
    </div>

  </div>
</form>