<div class="relative w-full h-[17rem] overflow-hidden">
  <shared-main-header></shared-main-header>
</div>

<form [formGroup]="movieForm">
  <div class="relative z-10 -mt-28 mx-20 flex flex-row gap-10 mb-10">

    <div class="flex flex-col gap-6 items-center flex-none basis-3/12">
      <div class="w-auto h-64 border-2 border-surface-200 dark:border-surface-700 rounded-md bg-surface-50 dark:bg-surface-950 font-medium flex">
        <div class="w-auto h-64  bg-surface-50 dark:bg-surface-950 font-medium flex relative overflow-hidden">
          <p-toast></p-toast>
          <img 
            *ngIf="movieForm.get('mainImage')?.value" 
            [src]="movieForm.get('mainImage')?.value" 
            alt="Movie Image"
            class="w-48 h-auto object-cover">
          <p *ngIf="!movieForm.get('mainImage')?.value" 
            class="absolute inset-0 flex items-center justify-center text-[#696969] text-center">
            Click here to add the main image of the movie.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3 text-center">
        <p-inplace class="text-xs w-full">
          <ng-template #display>
            <span 
              class="inline-flex items-center gap-2 w-full max-w-[200px] truncate"
              [ngClass]="{
                'text-[#dd1234]': movieForm.get('mainImage')?.touched && movieForm.get('mainImage')?.invalid,
                'text-[#cfcfcf]': !(movieForm.get('mainImage')?.touched && movieForm.get('mainImage')?.invalid)
              }">
              {{ movieForm.get('mainImage')?.value || 'Add movie image url' }}
            </span>
          </ng-template>
          <ng-template #content let-closeCallback="closeCallback">
            <span class="inline-flex items-center gap-2 w-full">
              <input type="text" pInputText autofocus formControlName="mainImage" required="true" class="w-full"
                variant="filled" />
              <button (click)="closeCallback($event)" pButton icon="pi pi-times" text severity="danger"></button>
            </span>
          </ng-template>
        </p-inplace>

        <p-inplace class="text-3xl font-bold w-full">
          <ng-template #display>
            <span class="block max-w-[400px] break-words whitespace-normal" [ngClass]="{
              'text-[#dd1234]': movieForm.get('title')?.touched && movieForm.get('title')?.invalid,
              'text-[#cfcfcf]': !(movieForm.get('title')?.touched && movieForm.get('title')?.invalid)
            }">
              {{ movieForm.get('title')?.value || 'Add movie title' }}
            </span>
          </ng-template>
          <ng-template #content let-closeCallback="closeCallback">
            <span class="inline-flex items-center gap-2 w-full min-w-0">
              <input type="text" pInputText autofocus formControlName="title" required="true"
                class="w-full" variant="filled" />
              
              <button (click)="closeCallback($event)" pButton icon="pi pi-times" text severity="danger"></button>
            </span>
          </ng-template>
          
        </p-inplace>
        
        

        <p-inplace class="text-xs uppercase">
          <ng-template #display>
            <span class="truncate" [ngClass]="{
              'text-[#dd1234]': movieForm.get('release_year')?.touched && movieForm.get('release_year')?.invalid,
              'text-[#cfcfcf]': !(movieForm.get('release_year')?.touched && movieForm.get('release_year')?.invalid)
            }">
              {{ movieForm.get('release_year')?.value ? (movieForm.get('release_year')?.value) :
              'Add release date' }}
            </span>
          </ng-template>
          <ng-template #content let-closeCallback="closeCallback">
            <span class="inline-flex items-center gap-2 w-full">
              <p-datepicker 
                formControlName="release_year" 
                [iconDisplay]="'input'" 
                [showIcon]="true"
                inputId="icondisplay" 
                required="true"
                [yearNavigator]="true"
                [yearRange]="'2000:2030'"
              ></p-datepicker>
              <button (click)="closeCallback($event)" pButton icon="pi pi-times" text severity="danger"></button>
            </span>
          </ng-template>
        </p-inplace>

        <div class="flex flex-row gap-3 justify-center items-center h-full min-h-[40px] cursor-auto mt-1">
          <p-rating formControlName="rating" [stars]="10" class="h-full" required="true"></p-rating>
        </div>
      </div>
    </div>

    <div class="mt-36 w-full">
      <div class="card flex justify-center">
        <p-stepper [value]="1" class="basis-[50rem]">
          <p-step-list>
            <p-step [value]="1">Description</p-step>
            <p-step [value]="2">Cast</p-step>
            <p-step [value]="3">Gallery</p-step>
          </p-step-list>
          <p-step-panels>
            <p-step-panel [value]="1">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <div
                    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded-md bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                    <textarea rows="8" cols="84" pTextarea formControlName="description"
                      placeholder="Type here to add the movie description." required="true"></textarea>
                  </div>
                  <div class="flex pt-6 justify-end">
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)"
                      class="mb-10" />
                  </div>
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <div
                    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded-md bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium p-5">
                    <p-autocomplete 
                      [(ngModel)]="value" 
                      [dropdown]="true" 
                      [suggestions]="items" 
                      (completeMethod)="search($event)"
                      class="w-full"
                      formControlName="cast" 
                      multiple 
                      fluid
                      placeholder="Search for actors."
                      required="true"
                      field="actor_name" />
                  </div>
                </div>
                <div class="flex pt-6 justify-between">
                  <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)"
                    class="mb-10" />
                  <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)"
                    class="mb-10" />
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                  <form [formGroup]="movieForm">
                    <div class="flex items-center gap-2">
                      <input 
                        class="w-full p-2 border rounded-md" 
                        placeholder="Enter URL" 
                        formControlName="newUrl"
                      />
                      <button 
                        (click)="addUrl()" 
                        class="mt-2 bg-blue-500 text-white py-2 px-4 rounded-md">
                        Add URL
                      </button>
                    </div>
                  </form>
                  
                  
                  <ul>
                    <li *ngFor="let url of urls; let i = index">
                      <div class="flex items-center gap-2 mb-3">
                        <input type="text" class="w-full p-2 border rounded-md" [value]="url" disabled />
                        <button (click)="removeUrl(i)" class="ml-2 bg-red-500 text-white py-1 px-3 rounded-md">Remove</button>
                      </div>

                    </li>
                  </ul>
                  
                </div>
                <div class="flex pt-6 justify-between">
                  <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)"
                    class="mb-10" />
                  <p-button 
                    label="Submit" 
                    icon="pi pi-check" 
                    iconPos="left" 
                    type="submit" 
                    (onClick)="onSubmit()"
                    class="mb-10" severity="contrast"/>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-panels>
        </p-stepper>
      </div>
    </div>

  </div>
</form>