<div class="relative w-full h-[17rem] overflow-hidden">
  <shared-main-header></shared-main-header>
</div>

<form [formGroup]="movieForm">
  <div class="relative z-10 -mt-28 mx-20 flex flex-row gap-10 mb-10">

    <div class="flex flex-col gap-6 items-center flex-none basis-3/12">
      <div class="w-full h-64 border-2 border-dashed border-surface-200 dark:border-surface-700 rounded-md bg-surface-50 dark:bg-surface-950 font-medium flex">
        <div class="card flex flex-col gap-4 justify-center m-2 w-full">
          <p-toast />
          <p class="text-[#696969] text-center">{{ movieForm.get('mainImage')?.value || 'Click here to add the main image of the movie.' }}</p>
          <p-fileupload mode="basic" chooseIcon="pi pi-upload" url="https://www.primefaces.org/cdn/api/upload.php"
            accept="image/*" maxFileSize="1000000" (onUpload)="onMainImageUpload($event)" [auto]="true"
            chooseLabel="Browse"/>
        </div>
      </div>
      <div class="flex flex-col gap-3 text-center">

        <p-inplace class="text-3xl font-bold w-full">
          <ng-template #display>
            <span class="truncate" [ngClass]="{
              'text-[#dd1234]': movieForm.get('title')?.touched && movieForm.get('title')?.invalid,
              'text-[#cfcfcf]': !(movieForm.get('title')?.touched && movieForm.get('title')?.invalid)
            }">
              {{ movieForm.get('title')?.value || 'Add movie title' }}
            </span>
          </ng-template>
          <ng-template #content let-closeCallback="closeCallback">
            <span class="inline-flex items-center gap-2 w-full">
              <input type="text" pInputText autofocus formControlName="title" required="true" class="w-full"
                variant="filled" />
              <button (click)="closeCallback($event)" pButton icon="pi pi-times" text severity="danger"></button>
            </span>
          </ng-template>
        </p-inplace>

        <p-inplace class="text-xs uppercase">
          <ng-template #display>
            <span class="truncate" [ngClass]="{
              'text-[#dd1234]': movieForm.get('releaseDate')?.touched && movieForm.get('releaseDate')?.invalid,
              'text-[#cfcfcf]': !(movieForm.get('releaseDate')?.touched && movieForm.get('releaseDate')?.invalid)
            }">
              {{ movieForm.get('releaseDate')?.value ? (movieForm.get('releaseDate')?.value | date: 'MMMM dd, yyyy') :
              'Add release date' }}
            </span>
          </ng-template>
          <ng-template #content let-closeCallback="closeCallback">
            <span class="inline-flex items-center gap-2 w-full">
              <p-datepicker formControlName="releaseDate" [iconDisplay]="'input'" [showIcon]="true"
                inputId="icondisplay" required="true" />
              <button (click)="closeCallback($event)" pButton icon="pi pi-times" text severity="danger"></button>
            </span>
          </ng-template>
        </p-inplace>

        <div class="flex flex-row gap-3 justify-center items-center h-full min-h-[40px] cursor-auto mt-1">
          <p-rating formControlName="rating" [stars]="10" class="h-full" required="true"></p-rating>
        </div>
      </div>
    </div>

    <div class="mt-36 w-full">
      <div class="card flex justify-center">
        <p-stepper [value]="1" class="basis-[50rem]">
          <p-step-list>
            <p-step [value]="1">About</p-step>
            <p-step [value]="2">Cast</p-step>
            <p-step [value]="3">Gallery</p-step>
          </p-step-list>
          <p-step-panels>
            <p-step-panel [value]="1">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <div
                    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded-md bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                    <textarea rows="8" cols="84" pTextarea formControlName="about"
                      placeholder="Type here to add the movie description." required="true"></textarea>
                  </div>
                  <div class="flex pt-6 justify-end">
                    <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)"
                      class="mb-10" />
                  </div>
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col h-48">
                  <div
                    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded-md bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium p-5">
                    <p-autocomplete formControlName="cast" multiple fluid [suggestions]="castSuggestions"
                      (completeMethod)="search($event)" class="w-full" placeholder="Search for actors."
                      required="true" />
                  </div>
                </div>
                <div class="flex pt-6 justify-between">
                  <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)"
                    class="mb-10" />
                  <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)"
                    class="mb-10" />
                </div>
              </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
              <ng-template #content let-activateCallback="activateCallback">
                <div class="flex flex-col">
                  <div
                    class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded-md bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center text-sm">
                    <p-card class="w-full">
                      <p-toast />
                      <p-fileupload url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onGalleryUpload($event)"
                        [multiple]="true" accept="image/*" maxFileSize="10000000" mode="advanced">
                        <ng-template #empty>
                          <div class="flex flex-col gap-2 my-2 text-[#cfcfcf] text-center justify-center">
                            <p>Drag and drop files to here to upload.</p>
                            <p>Remember to click the upload button to start the upload process.</p>
                          </div>
                        </ng-template>
                        <ng-template #content>
                          <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                          </ul>
                        </ng-template>
                      </p-fileupload>
                    </p-card>
                  </div>
                </div>
                <div class="flex pt-6 justify-between">
                  <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)"
                    class="mb-10" />
                  <p-button label="Submit" icon="pi pi-check" iconPos="left" type="submit" [disabled]="!movieForm.valid"
                    class="mb-10" severity="contrast" />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-panels>
        </p-stepper>
      </div>
    </div>

  </div>
</form>