<div class="sm:w-[38%] md:w-[32%] lg:w-[27%] xl:w-[22%]">
  <p-dataview [value]="items" [rows]="4" [paginator]="true" [pageLinks]="2" [style]="{ fontSize: '10pt' }" 
    [sortField]="sortField" [sortOrder]="sortOrder" class="text-center">

    <ng-template #header>
      <div class="flex flex-col md:flex-row md:justify-between">
        <p-select
            [options]="sortOptions"
            [size]="'small'"
            [(ngModel)]="sortField"
            placeholder="Sort By"
            (onChange)="onSortChange($event)"
            styleClass="mb-2 md:mb-0"
          />
      </div>
    </ng-template>

    <ng-template #list let-items>
      <div class="grid grid-cols-1 m-2 divide-y-2 divide-[#cfcfcf22]">
        <div *ngFor="let item of items">
          <div class="flex flex-row items-center p-4 rounded-md shadow-lg dark:bg-transparent gap-5">
            <img class="w-1/5 h-20 object-cover rounded-sm" [src]="item.image" [alt]="item.text" />
            <div class="flex flex-col gap-2 w-full text-left">
              <h2 class="text-sm font-semibold">{{ item.text }}</h2>
              <p class="text-xs italic">{{ item.year }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</div>
