<div class="w-full">
  <p-dataview [value]="movies" [rows]="6" [paginator]="true" [pageLinks]="3" [style]="{ fontSize: '10pt' }"
    class="text-center">
    <ng-template #list let-items>
      <div class="grid grid-cols-3 divide-y-2 divide-[transparent] gap-2">
        <div *ngFor="let item of items">
          <div class="flex flex-row items-center p-4 rounded-md shadow-lg dark:bg-transparent gap-5">
            <img class="w-4/12 h-20 object-cover rounded-sm" [src]="getCoverImage(item)" [alt]="item.text" />
            <div class="flex flex-col gap-2 w-full text-left">
              <h2 class="text-sm font-semibold">{{ item.title }}</h2>
              <p class="text-xs italic">{{ item.character_name }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</div>