p-floatLabel {
  background: #121212;
  color: #cfcfcf;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #cfcfcf;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  }

}

::ng-deep .p-datepicker-prev-button,
::ng-deep .p-datepicker-next-button {
  color: #fdfdfd;

  &:active {
    background-color: #44010588;
  }

  &:hover {
    background-color: #44010588;
  }

  &:focus {
    border-color: #44010588;
  }
}