<div class="flex flex-col space-y-6">
  <div>
    <shared-main-header></shared-main-header>
  </div>

  <div class="flex flex-wrap items-center justify-between p-0 bg-grey-300 rounded-md shadow">
    <div class="flex space-x-4 ml-4">

      <div class="flex flex-col space-y-1">
        <label for="order" class="text-md font-medium mb-2 text-center">Order</label>
        <p-select 
          [options]="orderOptions" 
          [(ngModel)]="selectedOrder" 
          class="w-64 h-full min-h-[40px]"
          placeholder="Select order" 
          (onChange)="handleSortChange($event)" 
          variant="filled"
          [showClear]="true">
        </p-select>
      </div>

      <div class="flex flex-col space-y-1" style="margin-left: 1.5rem;">
        <label for="year" class="text-md font-medium mb-2 text-center">Year</label>
        <p-datepicker 
          [(ngModel)]="selectedYear" 
          [iconDisplay]="'input'" 
          view="year" dateFormat="yy"
          placeholder="Select year" 
          class="w-full h-full min-h-[40px]" 
          [showIcon]="true" 
          [minDate]="minYear"
          [maxDate]="maxYear" 
          variant="filled" 
          (on)="handleYearChange($event)"
          (ngModelChange)="handleYearChange($event)">
          </p-datepicker>
      </div>
    </div>


    <!-- Right Controls: Search Bar and Add Button -->
    <div class="flex items-center space-x-2 pr-4 h-full">
      <!-- Search Bar -->
      <div class="flex flex-col space-y-1">
        <label for="rating" class="text-md font-medium text-center mb-2">Search</label>
        <div class="relative flex items-center h-full w-full">
          <input 
            type="text" 
            id="search" 
            pInputText 
            [(ngModel)]="searchQuery" 
            placeholder="Search actors"
            class="w-full p-2 pr-10 border rounded-md h-full min-h-[40px]" 
            variant="filled"
            (keydown.enter)="handleSearch($event)"
            (ngModelChange)="onSearchQueryChange()"/>
          <!-- Search Icon -->
          <i class="pi pi-search absolute right-3 text-gray-500"></i>
        </div>
      </div>

      <!-- Add Button -->
      <div class="flex flex-col space-y-1">
        <label for="rating" class="text-md font-medium text-center mb-2">Add</label>
        <button pButton icon="pi pi-plus" class="glass h-full min-h-[40px]" [routerLink]="['/actors/new']"></button>
      </div>
    </div>

  </div>

  <!-- Card List Section -->
  @if (cards.length !== 0) {
    <div>
      <shared-card-list [cards]="cards"></shared-card-list>
    </div>

    <!-- Footer -->
    <div class="flex justify-center w-full" style="margin-bottom: 2rem; margin-top: .8rem;">
      <p-paginator 
        [style]="{ borderRadius: '.8rem', color: '#fff', fontSize: '10pt' }" 
        [rows]="pagination" 
        [totalRecords]="totalActors" 
        (onPageChange)="handlePageChange($event)" 
        class="w-[50%]">
      </p-paginator>
    </div>
  }
  @else {
    <div class="flex justify-center items-center h-96">
      <p class="text-2xl font-bold text-gray-400">There is nothing here...</p>
    </div>
  }

</div>

<router-outlet></router-outlet>