<div class="card" (click)="this.navigateToActor()">
  <p-card [style]="{ width: '11rem', overflow: 'hidden' }">

    <ng-template #header>
      <img class="w-16 h-16 mx-auto mt-5 rounded-full object-cover" src={{this.imgSource}} />
    </ng-template>
  
    <ng-template #title>
      <div class="text-center text-sm bold">{{this.title}}</div>
    </ng-template>
  
    <ng-template #subtitle>
      <div class="text-center text-xs italic">{{this.numericValue}}</div>
    </ng-template>
    
  </p-card>
</div>