@import "primeicons/primeicons.css";
@layer tailwind-base, primeng, tailwind-utilities;


@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  // paginator styles
  --p-paginator-nav-button-selected-background: #b6040e; 
  --p-paginator-nav-button-focus-ring-color: #e50812;

  // carousel styles
  --p-carousel-indicator-active-background:#fdfdfd;
  --p-carousel-content-gap: 0rem;

  // dataview styles
  --p-dataview-header-border-color: transparent;
  --p-dataview-header-border-radius: .5rem;
  --p-dataview-content-border-radius: .5rem;

  // select sytles
  --p-select-background: transparent;
  --p-select-color: #fdfdfd;
  --p-select-focus-border-color: #fdfdfd88;
  --p-select-option-selected-background: #b6040e55;
  --p-select-option-selected-focus-background: #b6040e55;
  --p-select-color: #fdfdfd88;

  // multiSelect styles
  --p-multiselect-focus-border-color: #fdfdfd88;

  // datepicker styles
  --p-datepicker-header-border-color: #fdfdfd88;
  --p-datepicker-date-selected-background	: #fdfdfd88;

  // rating styles
  --p-rating-icon-active-color	: #b6040e;
  --p-rating-icon-hover-color	: #b6040e;

  // input styles
  --p-inputtext-focus-border-color: #fdfdfd88;
}

* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
